


body {
    background: url(../images/background.jpg) no-repeat;
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

ul,ol 
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #FF432E;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
}


.btn-primary {
    border-color: #FF432E;
    background-color: #FF432E;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    border-color: #ea321e;
    background-color: none !important;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #FF432E;
    background-color: #FF432E;
}




/**** Start Section Title Section ****/

.section-title h3{
    color: #666 !important;
    //font-style: italic;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
}

.section-title p {
    padding-bottom: 60px;
    color: #999;
    font-size: 18px;
    //font-style: italic;
    font-weight: 300;
}


/**** Start Logo Section ****/

#logo-section {
    
}

.logo h1 {
    font-family: 'Lobster', cursive;
    color: #fff;
    font-size: 60px;
}

.logo span {
    color: #999;
}

.logo img{
    float: center;
    
}



/**** Start Background Color ****/

.blue {
    background: transparent;
}

.green {
    background: #72bf48;
}

.red {
    background: #FF432E;
}

.light-red {
    background: #FB6648;
}

.light-orange {
    background: #FA6900;
}

.black {

    background: #000000;
}

.color {
    background: #0ECEAB;

}



/**** Start Main Body Section ****/

.mainbody-section {
    padding-top: 50px;
    padding-bottom: 30px;
}

.menu-item {
    color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	
}

.menu-item a {
    color: #fff;
    display: block;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.menu-item a p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.menu-item a i {
    font-size: 50px;
    padding-bottom: 20px;
}

.menu-item:hover a {
    text-decoration: none;
    //color: #333;
	animation: wobble;
	-webkit-animation: wobble;
	animation-duration: 1000ms;
	-webkit-animation-duration: 1000ms;
}

@media only screen 
and (min-width : 600px) 
and (max-width : 991px) {
    
    .menu-item {
        display: inline-block;
        width: 32.8%;
    }
    
    .menu-item.responsive {
        width: 49.5%;
        float: left;
        margin-right: 3px;
    }
    
    .menu-item.responsive-2 {
        width: 49.5%;
        float: right;
    }
    
}



@media only screen 
and (min-width : 992px) 
and (max-width : 1199px) {
    
    .menu-item {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .menu-item a i {
        font-size: 32px;
    }
    
    .menu-item a p {
        font-size: 16px;
    }
    
}


.home-slider img {
    width: 100%;
    height: auto;
}

.home-slider .carousel-indicators {
    position: absolute;
    bottom: 10%;
}

.home-slider .carousel-indicators .active {
	background-color: #FF432E;
}


.copyright {
    background: rgba( 0, 0, 0, 0.7);
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}




/**** Start Modal Section ****/

.section-modal .modal-content {
    background:transparent;
    padding: 100px 0 !important;
    min-height: 100%;
    border: 0 !important;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #888;
    font-weight: 300;
}



.section-modal .close-modal {
    position: absolute;
    top: 20px;
    right: 35px;
    width: 75px;
    height: 75px;
    background-color:#000000;
    cursor: pointer;
}

.section-modal .close-modal:hover {
    opacity: .3;
}

.section-modal .close-modal .lr {
    z-index: 1051;
    width: 2px;
    height: 75px;
    margin-left: 35px;
    background-color: red;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.section-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 2px;
    height: 75px;
    background-color: red;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


/**** Start ABout Us Section ****/

.about-text {
    padding-bottom: 50px;
}
.about-text p {
    color: #777;
    text-align: justify;
}
.about-text ul {
    margin-top: 30px;
    font-size: 13px;
}
.about-text li {
    margin-bottom: 10px;
    color: #999;
}
.about-text li i {
    padding-right: 10px;
    color: #FF432E;
}


/**** Start Team Member Section ****/
.blog-text {
    padding-bottom: 50px;
}
.blog-text p {
    color: #777;
    text-align: justify;
}
.blog-text ul {
    margin-top: 30px;
    font-size: 13px;
}
.blog-text li {
    margin-bottom: 10px;
    color: #999;
}
.blog-text li i {
    padding-right: 10px;
    color: #FF432E;
}
/**** Start Blog Section ****/


/**** Start Team Member Section ****/


.team-member {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.team-details {
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
}

.team-member img {
    width: 100%;
    height: auto;
}

.team-details h4 {
    font-size: 25px;
    font-weight: 300;
    color: #FF432E;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
    text-align: center;
    padding-top: 20%;
}

.team-details .designation {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.team-details ul {
    padding-top: 40%;
}
.team-details li {
    display: inline-block;
    list-style: none;
    padding-right: 10px;
}

.team-details li a {
    padding: 5px 8px;
    background: #FF432E;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.team-member:hover .team-details {
    opacity: 1;
    -webkit-animation: pulse;
    animation: pulse;
    animation-duration: 300ms;
    -webkit-animation-duration: 300ms;
}





/**** Start Contact Section ****/


.footer-contact-info {
    background: #FF432E;
    color: #fff;
    padding: 20px 30px;
    //margin-top: 80px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

@media only screen 
and (min-width : 320px) 
and (max-width : 991px) {
    
    .footer-contact-info {
		margin-bottom: 30px;
		margin-top: 30px;
	}
    
}

.footer-contact-info ul {
    padding-bottom: 10px;
}

.footer-contact-info h4 {
    padding-bottom: 10px;
}

.footer-contact-info li strong {
    font-weight: 600;
}


.footer-social {
    padding: 78px 0;
    border: 1px solid #FF432E;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.footer-social li {
    display: inline-block;
    padding: 0 10px;
}

@media only screen and (max-width : 360px) {
    
    .footer-social li {
		padding: 0 5px;
	}
    
}

.footer-social li a {
    background: #FF432E;
    padding: 8px;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #FF432E;
    
}

.footer-social li i {
    font-size: 15px;
    width: 20px;
    height: 20px;
}

.footer-social li:hover a {
    background: #fff;
    //border: 1px solid #FF432E;
    color: #666;
}



.contact .btn-primary {
    padding: 20px;
    font-size: 16px;
}

.contact .btn-primary:hover {
    background: transparent;
}

.contact .section-title h3{
    color: #fff;
}

.contact .section-heading {
    color: #fff;
}

.contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

.contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

.contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

.contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

.contact .text-danger {
    color: #e74c3c;
}

.contact button {
    font-weight: 400;
    margin-top: 30px;
}

.contact .btn-primary {
    padding: 20px;
    font-size: 16px;
}

.contact .btn-primary:hover {
    background: transparent;
    color: #FF432E;
}

/*Contact-center**/

#contact .contact-wrapper {
background-color:rgba(255, 255, 255, 0.1);
padding: 20px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
margin-bottom: 40px;
min-height:200px;
}
#contact .contact-wrapper h3 {
color:rgb(40, 141, 203);
}
#contact .social-below {
display: block;
margin-top: 5px;
}
.footer-div {
padding-top:25px;
}
.footer-div a,.footer-div a:hover {
font-size:10px;

color:#fff;
text-decoration:none;
}

/*Contact-center**/

.navbar-default {background-color:#f4f4f4;margin-top:50px;border-width:0;z-index:5;}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > li:hover > a {border:0 solid #4285f4;border-bottom-width:2px;font-weight:800;background-color:transparent;}
.navbar-default .dropdown-menu {background-color:#ffffff;}
.navbar-default .dropdown-menu li > a {padding-left:30px;}

.header {background-color:#ffffff;border-width:0;}
.header .navbar-collapse {background-color:#ffffff;}
.btn,.form-control,.panel,.list-group,.well {border-radius:1px;box-shadow:0 0 0;}
.form-control {border-color:#d7d7d7;}
.btn-primary {border-color:transparent;}
.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background-color:#4285f4;}


/**** Start Testimonial Section ****/

.testimonial {
    margin-bottom: 80px;
}

.testimonial h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}

.testimonial .speech {
    background: #FF432E;
    padding: 20px;
    color: #fff;
}

.posts{

    height: 400px;
    overflow:scroll
}

.posts1{

    height: 425px;
    overflow:scroll
}

.Allposts{

    height: 678px;
    overflow:scroll
}

.myposts{

    height: 630px;
    overflow:scroll
}

.memposts{

    height: 338px;
    overflow:scroll
}

.posts2{

    height: 590px;
    overflow:scroll
}


.posts3{

    height: 260px;
    overflow:scroll
}

